body {
    padding-top: 54px;
  }
  #content{
    min-height: 36vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;

  }
  .footer {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom:0;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 60px;
    text-rendering: optimizespeed;
  }
  /* Style the Un-order list by setting its list-style to none */
  .wrapper ul {
    list-style: none;
  }
  /* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
 .wrapper ul li {
  width: 45px;
  height: 45px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 50%;
  line-height: 50px;
  display:inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 6px;
  transition: all 0.5s ease;
}
/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.linkedin {
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.github {
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.fa-heart{
color: red;
}



/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}


/* img */
article {
  position: relative; 
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 100%;
  height: 370px;
}
.span {
  display: block;
  position: absolute;
  top: calc(50% - 10em);
  left: calc(50% - 10em);
  width: 20em;
  height: 20em;
}

.span.spin {
  animation: spin 10s linear infinite;
}

.span.spin-reverse {
  animation: spin 30s linear infinite;
}

.span.pulse {
  animation: spin-pulse 20s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes spin-pulse {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(0.9) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

.circle {
  border-radius: 50%;
  left: calc(50% - 6.25em);
  top: calc(50% - 12.5em);
  transform-origin: 50% 12.5em;
}

.squircle {
  border-radius: 25%;
}

.circle, .squircle {
  width: 12.5em;
  height: 12.5em;
  position: absolute;
  border-top: 0.1em solid rgba(255,255,255,0.4);
}

.large.circle {
  box-shadow: 0 1em 2em rgba(0,0,0,0.5);
}

.small {
  width: 4em;
  height: 4em;
  left: calc(50% - 2em);
  top: calc(50% - 15em);
  transform-origin: 50% 15em;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
}


.one {
  background: rgba(16, 63, 236, 0.75);
  transform: rotateZ(225deg);
}
.two {
  background: rgba(37, 172, 162, 0.75);
  transform: rotateZ(180deg);
}
.three {
  background: rgba(233, 124, 32, 0.75);
  transform: rotateZ(135deg);
}
.four {
  background: rgba(235, 67, 35, 0.75);
  transform: rotateZ(90deg);
}
.five {
  background: rgba(190, 28, 65, 0.75);
  transform: rotateZ(45deg);
}
.six {
  background: rgba(208, 57, 159, 0.75);
  transform: rotateZ(0);
}
.seven {
  background: rgba(150, 32, 198, 0.75);
  transform: rotateZ(-45deg);
}
.eight {
  background: rgba(95, 33, 203, 0.75);
  transform: rotateZ(-90deg);
}

.small.squircle {
  background: none;
  box-shadow: none;
}
.small.squircle::after {
    content: "";
    border-radius: 25%;
    width: 100%;
    height: 100%;
    position: absolute;
    background: red;
    /* transform: rotateZ(-45deg); */
    box-shadow: -0.25em 0.25em 0.5em rgba(0,0,0,0.92);
  }

  .small.squircle.two::after {
    background: rgba(37, 172, 162, 0.75);
  }
  .small.squircle.four::after {
    background: rgba(235, 67, 35, 0.75);
  }
  .small.squircle.six::after {
    background: rgba(208, 57, 159, 0.75);
  }
  .small.squircle.eight::after {
    background: rgba(95, 33, 203, 0.75);
  }


.large.squircle {
  position: absolute;
  background: rgba(30, 7, 66, 0.65);
  border: none;
  left: calc(50% - 7.5em);
  top: calc(50% - 7.5em);
  width: 15em;
  height: 15em;
  transform: none;
}
.large.squircle.one {
    transform: rotateZ(45deg);
  }


.content {
  text-align: center;
}
.content .logo {
    fill: #fff;
    width: 3em;
    margin: 1.25em auto 1em;
  }

.logo-pic{
  color: white;
}

/* profile */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.profile-logo {
    display: block;
    font: 10.5em 'Montserrat';
    width: 100%;
    height: 300px;
    margin: auto;
    text-align: center;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 6px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #F2D1C9;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #462749;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #E086D3;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #BAD1CD;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/* floating-text */

  :root {
    --mainColor: #ff9800;
  }
  
  .floating-text a {
    font-family: 'Righteous', cursive;
    background:
       linear-gradient(
         to right,
         var(--mainColor) 0%,
         var(--mainColor) 5px,
         transparent 5px
       );
    background-repeat: repeat-x;
    background-size: 100%;
    color: #000;
    padding-left: 10px;
    text-decoration: none;
  }
  
  .floating-text a:hover {
    background:
       linear-gradient(
         to right,
         var(--mainColor) 0%,
         var(--mainColor) 5px,
         transparent
       );
  }