<!DOCTYPE html>
<html lang="en">
  <head>

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>
      <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

        </header>
      <!-- Page Content -->
      <main class="bd-masthead" id="content" role="main">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-6 mx-auto col-md-6 order-md-2">
                <!-- logo OR pic (svg)-->

 <!-- Begin Image -->
 <!-- Invisible Box-->
 <div class="box">
 
   <h1 class="hi"><span>&#129498;</span> Hello...</h1>
  <!-- Circular Head-->
  <div class="head">  
    
    <!-- Circular Head Copy -->
    <div class="head-copy"></div>
    
     <!-- Left Ear ~ Light Gray-->
    <div class="ear-left">
      
     <!-- Inner ear ~ Dark Gray -->
    <div class="inner-ear"></div>
    </div>
    
    <!-- Right Ear ~ Light Gray-->
     <div class="ear-right">
    <!-- Inner Ear ~ Dark Gray-->
      <div class="inner-ear"></div>
    </div>
    
    <!-- Left Outer Eye ~ White -->
    <div class="eye-left">
      <!-- Pupil ~ Black -->
      <div class="pupil">
      </div>
    </div>
    
    <!-- Right Outer Eye ~ White -->
    <div class="eye-right">
      <!-- Pupil ~ Black -->
      <div class="pupil">
      </div>
    </div>
    
     <!-- Nose ~ Brown -->
     <div class="nose">
     </div>
    
     <!-- Hair ~ Light Gray -->
    <div class="hair-left"></div>
    <div class="hair-right"></div>
    
  <!-- End Head -->
  </div>
<!-- End Invisible Box -->
</div>

<!-- image -->
                
              </div>
              <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3 bd-text-purple-bright">Welcome to Blocipedia</h1>
                <p class="lead">
                  Blocipedia is an application for users to share information.
                </p>
                <p class="lead mb-4">
                  Blocipedia allows users to create, collaborate and share wikis.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti at similique exercitationem? Animi incidunt ea, ipsum odit maxime tempora tenetur! Iusto praesentium molestiae similique sapiente dignissimos dolorum eius pariatur atque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea doloremque, est nihil tenetur similique minima officiis aperiam dolore libero veritatis omnis reiciendis recusandae, distinctio atque ipsam, maxime consequuntur animi vitae.
                </p>
                <div class="row mx-n2">
                  <div class="col-md px-2">
                      <a href="/users/sign_up" class="btn btn-lg btn-outline-info w-100 mb-3">Sign Up</a>
                    </div>

                 <div class="col-md px-2">
                    <a href="/users/sign_in" class="btn btn-lg btn-outline-secondary w-100 mb-3">Sign In</a>
                  </div>
        
              </div>
            </div>
         
          </div>
        </main>
      <!-- /.container -->

        <!-- Page Features -->

<div class="masthead-followup row m-0 border border-white">
    <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    
      <h3>Free Membership</h3>
      <p>Create Public Wikis</p>
 
      <hr class="half-rule">
      <a class="btn btn-outline-primary" href="/users/sign_in" >Sign In</a>
    </div>
  
    <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
      
      <h3>Premium Membership</h3>
      <p>Create private wikis.</p>

      <hr class="half-rule">
      <a class="btn btn-outline-primary" href="/users/sign_in">Sign In</a>
    </div>
  
    <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
     
      <h3>Coming soon</h3>
      <p>
        Coming soon......
      </p>
      <hr class="half-rule">
      <a href="/" class="btn btn-outline-primary">Read more</a>
    </div>
  </div>

      <% include ./partials/baseScripts.ejs %>

      <!-- footer -->
      <% include ./partials/footer.ejs %>

    </body>
</html>