<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <% include ../static/partials/navbar.ejs %>

  <main class="container">

    <% include ../static/partials/messages.ejs %>

    <h1>Profile</h1>
    <hr>

    <div class="list-group"><h4>
      <a href="/wikis" class="list-group-item list-group-item-action list-group-item-success">public wikis</a>
     
      <a href="/wikis/new" class="list-group-item list-group-item-action list-group-item-warning">Create a new wiki</a>
      <a href="/users/<%= currentUser.id %>/collaborations" class="list-group-item list-group-item-action list-group-item-info">Collaborations</a></h4>
    </div>

    <% if(currentUser.role == "standard") { %>

    <h2>Upgrade your account</h2>
    <hr>
    <p>When you upgrade to premium, you'll gain access to make your own private wikis.</p>

    <div class="row">
      <div class="col-md-8">
        <form action="/users/<%=currentUser.id %>/upgrade" method="POST">

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_NV8CnxeN2OzZ2Ci9buoO465X00jHv0qNeN"
            data-amount="999" data-name="Stripe.com" data-description="Preimium Membership Charge" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto" data-currency="usd"></script>

        </form>
      </div>
    </div>

    <% }

    <!-- Downgrade account -->
    else { %>
    <% if(currentUser.role === "premium"); { %>
    <hr>

    <div>

      <form action="/users/<%=currentUser.id%>/downgrade" method="POST">
        <button class="btn btn-danger" type="submit" data-toggle="collapse" data-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample"> Downgrade Account</button>
      </form>

    </div>
    <% } %>
    <% } %>

  </main>


  <% include ../static/partials/baseScripts.ejs %>

</body>

</html>